<div class="container">
  <div>
    <h1>Movies in List: <%=@list.name%></h1>
  </div>
  <div class="row">
    <% @movies.each do |movie| %>
      <%= render 'movies/card', movie: movie %>
    <% end %>
  </div>

  <div>
    <h1>Let's add more movies into this list!</h1>
  </div>

  <div>
    <%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-inputs">
    <%= f.association :movie, label: "What's the movie you want to pick?"%>
  </div>
  <div class="form-inputs">
    <%= f.input :comment, as: :text, label: "Leave your comment"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Go to Home', root_path, class: 'btn btn-secondary' %>
  </div>
  <% end %>
  </div>
</div>
